----------------------
 PYTHON  
--------------------

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [2]:
def even_odd(num):
     '''function will check the number is odd or even '''
     if num%2 == 0:
          print ("{} is even  ".format(num))
     else:
          print("{} is odd ".format(num))
even_odd(5)
even_odd(6)
print(even_odd.__doc__) #print function documnetation string

5 is odd
6 is even
function will check the number is odd or even

In [3]:
def fullname (firstname,middlename,lastname):
    fullname = ("{} {} {} ".format(firstname,middlename,lastname))
    print(fullname.upper())
fullname("himanshu","", "pewal")

HIMANSHU  PEWAL

In [4]:
def myfuc(city = "Mumbai"):
    print('Most Populous City :- ', city)


myfuc()

Most Populous City :-  Mumbai

In [5]:
var1 = 100 
def myfunc():
    print(var1) 

myfunc()
print(var1)

100
100

In [6]:
def myfunc1():
    var2 = 10
    print(var2)

def myfunc2():
    print(var2)

myfunc1()
myfunc2()

10

NameError: name 'var2' is not defined

In [7]:
var1 =100 

def myfunc():
    var1 = 99
    print(var1)

myfunc()
print(var1)

99
100

In [8]:
list1 =[11,22,33,44,55]

def myfunc(list1):
    list1.append(100)

print("'list1' b4 calling function :- ",list1)
myfunc(list1)
print("'list1' after calling function:-  ",list1)

'list1' b4 calling function :-  [11, 22, 33, 44, 55]
'list1' after calling function:-   [11, 22, 33, 44, 55, 100]

In [9]:
def swap(a,b):
    temp = a
    a=b
    b=temp
a=10
b=20
swap(a,b)
a,b

(10, 20)

In [10]:
def factorial (num):
    if num <=1:
        return 1
    else:
        return num * factorial(num-1)
factorial(5)

120

In [11]:
def sum_natural(n):
    if n == 0:
        return 0
    else:
        return n + sum_natural(n-1)
sum_natural(5)

15

In [4]:
def fiboacci(n):
    if n <= 1:
        return 0
    if n == 2:
        return 1
    else:
        return (fiboacci(n-1) + fiboacci(n-2))
    

num = int(input("how many fibonacci numbers you want to generate - "))

for i in range(num):
    print(fiboacci(i))

0
0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [14]:
def add(a,b,c):
    return a+b+c
print (add(10,20,30))

60

In [15]:
print(add(10,20,30))

60

In [16]:
def some_args(args_1, args_2, args_3):
    print("args_1: ",args_1)
    print("args_2: ",args_2)
    print("args_3: ",args_3)

mylist = [2,3]
some_args(1,*mylist)

args_1:  1
args_2:  2
args_3:  3

In [17]:
def add1(*args):
    return sum(args)

In [18]:
list1 = [1,2,3,4,5,6,7]
tuple1 = (1,2,3,4,5,6,7)

add1(*list1) , add1(*tuple1)

(28, 28)

In [19]:
def UserDetails(*args):
    print(args)
UserDetails('Himanshu' , 5448 , 41155 , 33 , "India" , "Hindi")

('Himanshu', 5448, 41155, 33, 'India', 'Hindi')

In [20]:
def UserDetails(**kwargs):
    print (kwargs)
UserDetails(Name = 'Himanshu' ,ID =  5448 , Pincode =  41155 ,Age = 33 ,Country = "India" , Lang = "Hindi")

{'Name': 'Himanshu', 'ID': 5448, 'Pincode': 41155, 'Age': 33, 'Country': 'India', 'Lang': 'Hindi'}

In [21]:
def UserDetails(**kwargs):
    for key,val in kwargs.items():
        print("{} :- {}".format(key,val))
UserDetails(Name = 'Himanshu' ,ID =  5448 , Pincode =  41155 ,Age = 33 ,Country = "India" , Lang = "Hindi")

Name :- Himanshu
ID :- 5448
Pincode :- 41155
Age :- 33
Country :- India
Lang :- Hindi

In [22]:
def UserDetails(**kwargs):
    for key,val in kwargs.items():
        print ("{} :- {} ".format(key,val))
UserDetails(Name = 'Himanshu' ,ID =  5448 , Pincode =  41155 ,Age = 33 ,Country = "India" , Lang = "Hindi")

Name :- Himanshu
ID :- 5448
Pincode :- 41155
Age :- 33
Country :- India
Lang :- Hindi

In [23]:
mydict = {"Name" :  'Himanshu' ,"ID" :  5448 , "Pincode" :  41155 ,"Age" : 33 ,"Country" : "India" , "Lang" : "Hindi"}
UserDetails(**mydict)

Name :- Himanshu
ID :- 5448
Pincode :- 41155
Age :- 33
Country :- India
Lang :- Hindi

In [24]:
def UserDetails(licenseNo, *args , phoneNo = 0, **kwargs):
    print("license No :- ",licenseNo)
    j = ''
    for i in args:
        j = j+i
    print('Full Name :- ',j)
    print("Phone Number :- ",phoneNo)
    for key,val in kwargs.items():
        print("{} :- {} ".format(key,val))

name = ['Himanshu' , ' ' , 'kumar' , ' ','Pewal']
mydict =  {"Name" :  'Himanshu' ,"ID" :  5448 , "Pincode" :  41155 ,"Age" : 33 ,"Country" : "India" , "Lang" : "Hindi"}

UserDetails('PWL124' , *name , phoneNo=789564332 , **mydict)

license No :-  PWL124
Full Name :-  Himanshu kumar Pewal
Phone Number :-  789564332
Name :- Himanshu
ID :- 5448
Pincode :- 41155
Age :- 33
Country :- India
Lang :- Hindi

-------------
Lambda
-------------

In [25]:
addition = lambda a,b,c: a+b+c
print(addition(55,66,88))

209

In [26]:
product = lambda a,b: a*b
print(product(5,6))

30

In [27]:
res = (lambda *args:sum(args))
res(10,20), res(10,20,30), res(10,20,30,40,50,60,70)

(30, 60, 280)

In [28]:
res1 = (lambda **kwargs: sum(kwargs.values()))
res1(a=10,b=20,c=30), res1(a=10,b=20,c=30,d=40,e=50)

(60, 150)

In [29]:
res1 = (lambda **kwargs: sum(kwargs.values())) 
res1(a=10, b=20, c=30),res1(a =10, b =20, c = 30, d =40, e = 50)

(60, 150)

In [30]:
def product (num):
    total = 1
    for i in num:
        return total
    

res1 = (lambda **kwargs: sum(kwargs.values())) 
res1(a=10, b=20, c=30), res1(a =10, b =20, c = 30, d =40, e = 50)

(60, 150)

In [31]:
def product1(nums):
    total = 1
    for i in nums:
        total *=i
    return total
    

res1 = (lambda **kwargs: product1(kwargs.values()))
res1(a=10, b=20, c=30), res1(a = 10, b =20, c =30, d =40, e = 50)

(6000, 12000000)

In [32]:
def myfunc(n):
    return lambda a: a + n
add10 = myfunc(10)
print(add10(5))

add20 = myfunc(20)
print(add20(5))

15
25

In [33]:
list1 = [1,2,3,4,5,6,7,8,9]

def odd(n):
    if n%2 != 0:
        return True
    else:
        return False
    

odd_num = list(filter(odd,list1))
odd_num

[1, 3, 5, 7, 9]

In [34]:
list1  = [1,2,3,4,5,6,7,8,9]

odd_num = list(filter(lambda n :n%2 == 1, list1))
odd_num

[1, 3, 5, 7, 9]

In [35]:
def twice(n):
    return n*2

doubles = list(map(twice,odd_num))
doubles

[2, 6, 10, 14, 18]

In [36]:
doubles2 = list(map(lambda n : n*2 ,odd_num))
doubles2

[2, 6, 10, 14, 18]

In [37]:
from  functools import reduce

def add(a,b):
    return a+b

sum_all = reduce(add,doubles2)
sum_all

50

In [38]:
sum_all2 = reduce(lambda a,b : a+b,doubles2)
sum_all2

50

In [39]:
#putting all in one

sum_all3 = reduce(lambda a,b: a+b ,list(map(lambda n: n*2,list(filter(lambda n: n%2 ==1,list1)))) )
sum_all3

50

---------------MORE EXAMPLE------( MAP, FILTER, REDUCE)--------

In [40]:

#####--------Odd-Even-check------
list1= [1,2,3,4,5,6,7,8,9,10]
#filtering even  
even = list(filter(lambda n: n%2 ==0,list1)) 

#filtering odd 
odd = list(filter(lambda n: n%2 !=0,list1))

print("----------")
print(even)
print(odd)
print("----------")

#### lowercase ---- uppercase----------

list2 = ["one","TWO","three","FOUR"]
#filter upper-case string. 
upper = list(filter(lambda x:x.isupper(),list2))
#filter lower-case string.
lower = list(filter(lambda x:x.islower(),list2))


print(upper)
print(lower)
print("----------")

----------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
----------
['TWO', 'FOUR']
['one', 'three']
----------

In [41]:

from functools import reduce

list2 = [1,2,3,4]



min_num = reduce(lambda a,b : a if a<b else b,list2)

max_num = reduce(lambda a,b : a if a>b else b,list2)


print(min_num)
print(max_num)

1
4

In [42]:
prod = reduce(operator.mul,['Hello ', 3])
print(prod)

Hello Hello Hello

----------------------END-----------------